body {
    background-color: #e0e0e0;
}

.img {
    width: 100%;
}

.title-p {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin: 0 10px;
}

.link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 4px 12px 6px 12px;
}

.link:hover {
    background-color: darkblue;
    border-radius: 50px;
}

.h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 34px;
}

.formControl {
    width: 30%;
}

.graphs-container {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }
    .title-p {
        font-size: 16px;
        margin: 0;
    }
    .link {
        font-size: 16px;
        padding: 4px 12px 6px 12px;
    }
    .link:hover {
        background-color: darkblue;
        border-radius: 50px;
    }
    .h1 {
        text-align: left;
        font-size: 24px;
    }
    #card {
        margin: 2% 0;
        margin-left: 20px;
    }
    .formControl {
        width: 100%;
    }
    .graphs-container {
        width: 100%;
    }
    .footer-text {
        font-size: 16px;
    }
}

@media (max-width: 359px) {
    .footer-text {
        font-size: 14px;
    }
}